{% extends "main.html" %}

{% block content %}

{% if page == 'login' %}
<div>
  <form action="" method="post">
    {% csrf_token %}
    <label for="">Username:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <label for="">Password:</label>
    <input type="text" name="password" placeholder="Enter Password">
    <input type="submit" value="Login">
  </form>

  <a href="{%url 'register'%}"><p>Have'nt signed up yet?</p></a>
</div>
{% else %}
<div>
  <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register">
  </form>

  <a href="{%url 'login'%}"><p>Already signed up yet?</p></a>
</div>
{% endif %}
{% endblock content %}